[*.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = silent

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent
